# Postgres
POSTGRES_PRISMA_URL="postgresql://<YOUR_LOCAL_PG_USER>:<YOUR_LOCAL_PG_PWD>@localhost:5432/<YOUR_LOCAL_PG_DB>?schema=public"
POSTGRES_URL_NON_POOLING="postgresql://<YOUR_LOCAL_PG_USER>:<YOUR_LOCAL_PG_PWD>@localhost:5432/<YOUR_LOCAL_PG_DB>?schema=public"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# NextAuth
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Base Url
VERCEL_URL="http://localhost:3000/api"
