
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 2cm;
    margin: 0.5cm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .subpage {
    width: 100%;
    border: 1px black solid;
    height: 256mm;
    outline: 2cm #ffeaea solid;
  }
  
  @page {
    size: A4;
    margin: 0 !important;
  }
  @media print {
    .page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }
  